<ion-toolbar>
    <ion-buttons (click)="logout()" class="logout">
        <ion-icon class="icon" name="log-out-outline"></ion-icon>
    </ion-buttons>
    <ion-header class="logotoolbar">
    </ion-header>
</ion-toolbar>
<meta name="viewport" content="width=device-width, initial-scale=1.0">

<ion-content class="cards-background-page">
    <ion-segment scrollable color=d anger value="Live" (ionChange)="segmentChanged($event)">
        <ion-segment-button value="Live">
            <ion-icon name="Headset"></ion-icon>
            Live
        </ion-segment-button>
        <ion-segment-button value="Music">
            <ion-icon name="musical-notes"></ion-icon>
            Music
        </ion-segment-button>
        <ion-segment-button value="Search">
            <ion-icon name="Search"></ion-icon>
            Search
        </ion-segment-button>
    </ion-segment>



    <!-- <ion-segment scrollable color = "danger"
  value="segment1" (ionChange)="segmentChanged($event)">


  <ion-segment-button value="segment1">
    <ion-label>segment1</ion-label>
  </ion-segment-button>

  <ion-segment-button value="segment2">
    <ion-label>segment2</ion-label>
  </ion-segment-button>

  <ion-segment-button value="segment3">
    <ion-label>segment3</ion-label>
  </ion-segment-button>
  
</ion-segment> -->
    <ion-infinite-scroll>
        <div *ngIf="live">
            <ion-card *ngFor="let record of records" button="true">
                <ion-img src={{record.imgURL}} [routerLink]="['/']"></ion-img>
                <div class="card_content">
                    <p class="card-title">{{record.Recordname}}</p>
                </div>

            </ion-card>
        </div>

    </ion-infinite-scroll>

    <ion-infinite-scroll>
        <div *ngIf="music">
            <ion-card *ngFor="let song of songs" button="true">

                <ion-img src={{song.imgURL}} [routerLink]="['/']"></ion-img>
                <div class="card_content">
                    <p class="card-title">{{song.Songname}}</p>
                </div>
            </ion-card>
        </div>
    </ion-infinite-scroll>



    <div *ngIf="search">
        <ion-searchbar (ionInput)="immagineDigital()"></ion-searchbar>
    </div>
    <div class="ion-padding">
        <ion-list>
            <ion-item (click)="selectedCards(item.song)" *ngFor="let record of records"></ion-item>
        </ion-list>


    </div>




    <!-- <ion-card  button="true">
        <audio src={{musics.mp3}} [routerLink]="['/']"></audio>
        <div class="card_content">
          <p class="card-title">{{musics.name}}</p>
        </div>
      </ion-card> -->







</ion-content>
<!--<ul id="menu" ><ion-slides  [options]="slideOpts" >
  <ion-slide><h2><li><a href="view-users">Musica</a></li></h2> </ion-slide>
   <ion-slide> <h2><li><a href="view-users">Live</a></li></h2></ion-slide>
    <ion-slide><h2><li><a href="view-users">Search</a></li></h2></ion-slide>
     <li><a href="#">Portfolio</a></li>
    <li><a href="#">Contact</a></li> 
</ion-slides>
  </ul> -->





<!-- <ion-tabs>
    <ion-tab-bar slot="bottom">
      <ion-tab-button tab="schedule">
        <ion-icon name="calendar"></ion-icon>
        <ion-label>Schedule</ion-label>
        <ion-badge>6</ion-badge>
      </ion-tab-button>
  
      <ion-tab-button tab="speakers">
        <ion-icon name="person-circle"></ion-icon>
        <ion-label>Speakers</ion-label>
      </ion-tab-button>
  
      <ion-tab-button tab="map">
        <ion-icon name="map"></ion-icon>
        <ion-label>Map</ion-label>
      </ion-tab-button>
  
      <ion-tab-button tab="about">
        <ion-icon name="information-circle"></ion-icon>
        <ion-label>About</ion-label>
      </ion-tab-button>
    </ion-tab-bar>
  </ion-tabs> -->