<!-- <ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-back-button></ion-back-button>
        </ion-buttons>
        <p style="font-size:1vw;" style="text-align:center">Do you want to SignUp or SignIn?</p>
    </ion-toolbar>
</ion-header>

<ion-content class="auth-form">
    <ion-row>
        <ion-grid>
            <ion-col align-self-center>
                <ion-button [routerLink]="['/registration']" expand="block" color="secondary">Users</ion-button>

                <span class="divider line one-line">or</span>

                <ion-button [routerLink]="['/registration-musiccreators']" expand="block" color="secondary">Music creators</ion-button>

                <span class="divider line one-line">or</span>

                <ion-button [routerLink]="['/registration-artist']" expand="block" color="secondary">Artists</ion-button>

                <span class="divider line one-line">or</span>

                <ion-button [routerLink]="['/registration-crypto']" expand="block" color="secondary">Cryptobuyers</ion-button>

            </ion-col>
        </ion-grid>
    </ion-row>


</ion-content> -->

<meta name="viewport" content="width=device-width, initial-scale=1.0">
<ion-content class="sfondo">
    <p class="logo"></p>
    <ion-grid class="pos-bottoni">
        <ion-col>
            <ion-button class="button-artist" [routerLink]="['/registration-artist']" fill="outline">
                <ion-text class="text-artist">Artist</ion-text>
                <ion-icon class="icon-artist"></ion-icon>
            </ion-button>

            <span class="divider line one-line"> o </span>

            <ion-button class="button-users" [routerLink]="['/registration']" fill='outline'>
                <ion-text class="text-users">Users</ion-text>
                <ion-icon class="icon-users"> </ion-icon>
            </ion-button>

            <span class="divider line one-line"> o </span>

            <ion-button class="button-MusicCreators" [routerLink]="['/registration-musiccreators']" fill='outline'>
                <ion-text class="text-MusicCreators">Music Creators</ion-text>
                <ion-icon class="icon-MusicCreators"> </ion-icon>
            </ion-button>

            <span class="divider line one-line"> o </span>

            <ion-button class="button-Crypto" [routerLink]="['/registration-crypto']" fill='outline'>
                <ion-text class="text-Crypto">Crypto</ion-text>
                <ion-icon class="icon-Crypto"> </ion-icon>
            </ion-button>
        </ion-col>
    </ion-grid>
</ion-content>

<ion-tab-bar slot="bottom">
    <ion-button [routerLink]="['/login-register']">
        <ion-icon name="log-out-outline"></ion-icon>
        <ion-label>Logout</ion-label>
    </ion-button>
</ion-tab-bar>