:host {
	.content-background {
		background-image: url("/assets/img/ppp.png");
		background-repeat: no-repeat;
		background-position: top center;
	}
}

:host-context(.dark-theme) {
	.content-background {
		background-image: url("/assets/img/ppp.png");
	}
}
