<ion-toolbar>

    <ion-header class="logotoolbar">
    </ion-header>
</ion-toolbar>
<meta name="viewport" content="width=device-width, initial-scale=1.0">

<ion-header [translucent]="true">

</ion-header>

<ion-content class="sfondo">

    <h1>
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Privacy Policy</h1>

    <h4 class="version2">Last updated: December 29, 2020 This Privacy Policy describes Our policies and procedures on the collection, use and disclosure of Your information when You use the Service and tells You about Your privacy rights and how the law protects You. We use
        Your Personal data to provide and improve the Service. By using the Service, You agree to the collection and use of information in accordance with this Privacy Policy.
    </h4>
    <a routerLink=""></a>
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    <ion-button color="medium"><a style="color:white" href="../../assets/icon/Privacy_Policy_Shoma_APP (1) by EasePDF.htm">Preview Privacy Policy</a></ion-button>
    <br><br><br><br> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    <ion-button (click)="presentAlertCheckbox()">Click here to<br> Agree or Disagree Privacy Policy</ion-button>
    <br><br><br><br><br><br>
    <p class="version">
        Powered by Labelscoin™ </p>
</ion-content>