<ion-header [translucent]="true">
    <ion-toolbar>
        <ion-title>

        </ion-title>
    </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
    <ion-card button="true">
        <audio [src]="artistCurrent.song"></audio>
      </ion-card>

    <ion-label>
        <ion-text>
            <h1>{{status}}</h1>
        </ion-text>
    </ion-label>
    <ion-item lines="full">
        <ion-label position="floating">Record Name</ion-label>
        <ion-input placeholder="Insert Record Name" id="avatar" type="text" class="input"
            [(ngModel)]="artistCurrent.recordname" #name required>
        </ion-input>
    </ion-item>

    <!-- <ion-item lines="full">
        <ion-label position="floating">Song Name</ion-label>
        <ion-input placeholder="Insert Song Name" id="avatar" type="text" class="input"
            [(ngModel)]="artistCurrent.song" #name required>
        </ion-input>
    </ion-item> -->
   
    <input type="file" id="id">
<!--     <ion-button (click)="SaveSong()">Save Name Song </ion-button>
 -->    <ion-button   (click)="sendAudio1()">Send Song </ion-button>


<br>
    <ion-button (click)="SaveNameRecord()">Save Name Record </ion-button>
    <ion-button (click)="RecordAudio()">Record </ion-button>

    <ion-button id="fileUpload" (click)="StopRecording()" (click)="uploadfile()">Stop</ion-button>
    <!--      (click)="sendAudioToSomewhere()"-->
</ion-content>