<ion-header [translucent]="true">
    <ion-toolbar>
    <ion-title>
    
    </ion-title>
    </ion-toolbar>
    </ion-header>
    
    <ion-content [fullscreen]="true">
    <ion-label>
    <ion-text>
    <h1>{{status}}</h1>
    </ion-text>
    </ion-label>
    <input type="file" id="avatar" />
    <ion-button (click)="RecordAudio()">Record </ion-button>
    <ion-button id="avatar" (click)="StopRecording()"  (click)="sendAudio()">Stop</ion-button>
    <!-- (click)="sendAudioToSomewhere()" -->
    </ion-content>
    