<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Password Reset</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-item lines="full">
    <ion-label position="floating">Email</ion-label>
    <ion-input type="text" [(ngModel)]="email"></ion-input>
  </ion-item>

  <ion-row>
    <ion-col>
      <ion-button color="danger" expand="block" (click)="reset()" [routerLink]="['/login']">Send</ion-button>
    </ion-col>
  </ion-row>

  <small>
   Enter with an email address when registering for your account
  </small>

</ion-content>