<meta name="viewport" content="width=device-width, initial-scale=1.0"> 
<ion-content class="sfondo">
  <p class="logo"></p>
    <ion-grid class="pos-bottoni">
      <ion-col>
        <ion-button class="button-users" [routerLink]="['/login']" fill="outline">
          <ion-text class="text-users" >Users</ion-text>
        </ion-button>
        
        <span class="divider line one-line"> o </span>
 
        <ion-button class="button-artist" [routerLink]="['/login']" fill='outline'>
        <ion-text class="text-artist">Artist</ion-text>
        </ion-button>

        <span class="divider line one-line"> o </span>


        <ion-button class="button-crypto" [routerLink]="['/login']" fill="outline">
          <ion-text class="text-crypto" >Crypto</ion-text>
        </ion-button>

        <span class="divider line one-line"> o </span>
         
        <ion-button class="button-musiccreators" [routerLink]="['/login']" fill='outline'>
        <ion-text class="text-musiccreators">Music cretors</ion-text>
        </ion-button>
      </ion-col>
    </ion-grid>
</ion-content>