<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
File transfer 
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-label>
    <ion-text>
      <h1>{{status}}</h1>
    </ion-text>
  </ion-label>
  <ion-button (click)="RecordAudio()">Record  </ion-button>
  <ion-button (click)="StopRecording()">Stop</ion-button>

</ion-content>
<ion-button (click) = "UploadFile()">  UploadFile </ion-button>
<ion-label> <b>{{uploadText}}</b></ion-label>
<br  /> <br />

<ion-button (click)="AbortUpload()">Cancel Uploading

</ion-button>


